
.upload-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.upload-container h2 {
    text-align: center;
}


/* #upload-image {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */
/* 
#upload-image:hover {
    background-color: #218838;
} */

/* Hide the default file input */
#image-input {
    display: none;
}

/* Custom button for file input */
.custom-file-label {
    display: inline-block;
    width: 15%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.custom-file-label:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 10px;
    font-size: 14px;
    color: #28a745;
    text-align: center;
}

.preview-container {
    margin-top: 20px;
    text-align: center;
}

.preview-container h3 {
    font-size: 18px;
}

#image-preview {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
